.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #071B2B;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #fff;
}

.App h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 30px;
}

.App label {
  display: block;
  margin-bottom: 10px;
}

.App input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.App button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.App button:hover {
  background-color: #0062cc;
}

body {
  background-color: #0A273C;
}

.submitModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.submitModal h2 {
  margin-bottom: 20px;
}

.submitModal button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submitModal button:hover {
  background-color: #0062cc;
}
